body {
  min-height: 100vh;
  background: rgb(34, 195, 41);
  background: linear-gradient(
    45deg,
    rgba(34, 195, 41, 0.75) 0%,
    rgba(45, 207, 253, 0.75) 99%
  );
}
.card {
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
  margin: auto;
}
.todo:nth-of-type(even) {
  background-color: rgba(34, 195, 41, 0.25);
}
.todo:nth-of-type(odd) {
  background-color: rgba(45, 207, 253, 0.25);
}
.delete {
  float: right;
}
.delete > svg {
  color: rgb(200, 10, 30);
}
.delete > svg:hover {
  cursor: pointer;
}
